{% extends "pymdb/base.html" %}

{% block content %}
<h2>{{ movie.title }}</h2>
    <p>Genres:</p>
    <ul>{%  for genre in movie.genre.all %}
     <li><a href="{% url 'show_genre' genre.id %}">fit sgi{{ genre }}</a></li>
    {% endfor %}
    </ul>
{#    {% for rater in raters %}#}
{#    <li>{{ movie.avg_rating }} - {{ movie.ratings_set_count }}- {{ movie }}</li>#}
{#    {% endfor %}#}
    <form method="POST" action="{% url 'show_movie' movie.id %}">
    {% csrf_token %}
    {{ rating_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Rate"/>
<h3>Ratings</h3>
    <ol>
        {% for rating in ratings %}
        <li>{{ rating.rating }} -
            <a href="{% url 'show_rater' rating.rater.id %}">{{ rating.rater }}</a>
        - {{ rating.time_modified }}
        </li>
        {% endfor %}
    </ol>
{% endblock %}