{% extends "pymdb/base.html" %}

{% block content %}
<h2>{{ rater }}</h2>
    <p>Username: {{ rater.user }}</p>
    <p>Age: {{ rater.age }}</p>
    <p>Gender: {{ rater.gender }}</p>
    <p>Occupation: <{{ rater.occupation }}/p>
    <p>Zip Code: {{ rater.zip_code }}</p>
    <h3>Ratings</h3>
    <ol>
        {% for rating in ratings %}
            <li><span class="badge">{{ rating.rating }}
                </span>
{#            <li><small> #TODO: Add disable on hover#}
          <a href="{% url 'show_movie' rating.movie.id %}">{{ rating.movie }}</a>
          - {{ rating.time_modified }}
        </li>
        {% endfor %}
    </ol>
{% endblock %}